@use "../global/global.scss" as *;

.coin-cell {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.5);
    align-items: center;
    padding: 25px 5px 25px 5px;
    color: #fff;

    &:hover {
        background-color: rgba($color: #191919, $alpha: 0.8);
      }

    img {
        width: 30px;
        margin-right: 10px;
    }

    .col1 {
        width: 5%;
        display: flex;
        justify-content: flex-start;
    }
    
    .col2 {
        width: 25%;
        display: flex;
        justify-content: flex-start;

        .coin-name {
            margin-top: 5px;
        }

        .coin-symbol {
            margin-left: 10px;
            text-transform: uppercase;
            color: rgba($color: #fff, $alpha: 0.5);
        }
    }

    .col5, .col6 {
        width: 20%;
        display: flex;
        justify-content: flex-end;
    }

    .col3, .col4 {
        width: 15%;
        display: flex;
        justify-content: flex-end;
    }
}