@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Space Grotesk", sans-serif;
  background-image: url(../assets/images/background.png);
}

a {
  text-decoration: none;
}

// VARIABLES

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

$black-bg: #131313;