@use "../global/global.scss" as *;

.main-container {
    color: #fff;
    @include flex-center;
    flex-direction: column;

    .search {
        margin: 50px 0 50px 0;
        @include flex-center;
        flex-direction: column;
        gap: 20px;

        h2 {
            font-weight: 300;
            font-size: 1.1rem;
        }

        input {
            width: 250px;
            font-family: "Space Grotesk", sans-serif;;
            height: 50px;
            background-color: $black-bg;
            border: none;
            border-radius: 15px;
            color: #fff;
            padding: 10px;
            font-size: 0.9rem;
            outline: none;
        }

        input[type=text]:focus {
            border: none;
          }
    }


    .coin-list {
        background-color: rgba($color: $black-bg, $alpha: 0.8);
        display: flex;
        flex-direction: column;
        width: 85%;
        border-radius: 30px;
        padding: 30px;

        .coin-header {
            display: flex;
            font-weight: 600;
            justify-content: flex-start;
            flex-direction: row;
            border-bottom: 1px solid rgba($color: #fff, $alpha: 0.5);
            padding: 0 7px 20px 7px;

            p {
                font-size: 0.9rem;
            }

            .col1 {
                width: 5%;
                display: flex;
                justify-content: flex-start;
            }
            
            .col2 {
                width: 25%;
                display: flex;
                justify-content: flex-start;
            }

            .col5, .col6 {
                width: 20%;
                display: flex;
                justify-content: flex-end;
            }
        
            .col3, .col4 {
                width: 15%;
                display: flex;
                justify-content: flex-end;
            }
        }

        .coin-row {
            display: flex;
            flex-direction: column;
        }
    }

    .pagination {
        margin-top: 20px;
        display: flex;
        list-style: none;
        padding: 0;
        gap: 10px;
    }
    
    .pagination button {
        cursor: pointer;
        color: #fff;
        background-color: rgba($color: #202020, $alpha: 0.8);
        border-radius: 30%;
        padding: 15px 20px 15px 20px;
        transition: ease-in 0.2s;
        border: none;
        outline: none;
        font-size: 1rem;
        font-weight: 600;
        font-family: "Space Grotesk", sans-serif;
    }
    
    .pagination button:hover {
        background-color: rgba($color: #fff, $alpha: 0.9);
        color: #000;
    }
    
    .pagination button.active-pagination {
        background-color: rgba($color: #fff, $alpha: 0.9);
        color: #000;
    }
}

