@use "../global/global.scss" as *;

.coin-info-container {
    height: 80vh;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .left-col {
        width: 30%;
        padding: 50px;
        align-self: flex-start;

        img {
            width: 40px;
        }

        .coin-title {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            margin-bottom: 20px;
        }

        .title {
            font-size: 1.5rem;
        }

        .coin-ticker {
            text-transform: uppercase;
            color: rgba($color: #fff, $alpha: 0.7);
            margin-top: 5px;
        }

        .coin-price {
            font-size: 2.5rem;
            font-weight: 800;
            margin-bottom: 20px;
        }

        .coin-mcap {
            margin-bottom: 20px;
        }
    }

    .right-col {
        width: 70%;
        padding: 50px 50px 0 50px;
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        align-items: center;
    }

    .chart {
        background-color: rgba($color: #202020, $alpha: 0.8);
        padding: 20px;
        border-radius: 30px;
    }

    .chart-buttons {
        display: flex;
        flex-direction: row;
        gap: 80px;
        margin-bottom: 20px;
        font-size: 0.9rem;

        .chart-button {
            cursor: pointer;
            background-color: rgba($color: #202020, $alpha: 0.8);
            border-radius: 10px;
            padding: 10px 15px 10px 15px;
            transition: ease-in 0.2s;
        }

        .chart-button:hover {
            background-color: rgba($color: #fff, $alpha: 0.9);
            color: #000;
        }

        .chart-button.active {
            background-color: rgba($color: #fff, $alpha: 0.9);
            color: #000;
          }
    }
}

.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #111111, $alpha: 0.8);

    .navbar-title {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        font-size: 1rem;
    }
}

/* TABLET MEDIA QUERY */

@media screen and (max-width: 1024px) {
    .coin-info-container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .left-col {
            width: 100%;
            padding: 50px;
        }

        .right-col {
            width: 100%;  
        }
    }
}

/* MOBILE MEDIA QUERY */

@media screen and (max-width: 768px) {
    .coin-info-container {
    
        height: 90vh;

        .chart-buttons {

            gap: 30px;
        }

    }

}